.app-main {
  margin-top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
}

h1 {
  color:red;
}

.card {
  max-width: 250px;
  margin: 20px auto;
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
